# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/.swc/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
project-structure.txt
GEMINI.md
CLAUDE.md
QWEN.md

# Local Environment Variables
# Ignore all .env files
.env*
# Except for .env.example if you have one
!.env.example

# Database backups
*.sql
# ... EXCEPT for the ones in the supabase/migrations/ directory
!supabase/migrations/*.sql

# Supabase
supabase/.temp
supabase/functions/.env
supabase/functions/supabase-test-fixtures--*.ts

# Qodo
.qodo/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
